// colors
$primary: #ce0000;
$main: #5d83e5;
$mainDark: #1956a7;
$black: #000;
$white: #fff;
$gray: #414141;
$green: #8ac927;
$blue: #1a82c4;
$red: #ff595f;
$purple: #6a4c93;

// fonts
$mainFont: "Asap", sans-serif;
$lato: "Lato", sans-serif;