h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 53px;
}

h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 47px;
}

h3 {
  &.ex {
    font-size: 55px;
    line-height: 132%;
    font-weight: 700;
  }
}

h4 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  line-height: 33px;
}
h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  &.sm {
    font-size: 18px;
    line-height: 24px;
  }
}
p {
  &.big {
    font-size: 20px;
    line-height: 27px;
  }
  &.lg {
    font-size: 18px;
    line-height: 25px;
  }
  &.med {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
}
body {
  &.active {
    overflow: hidden;
  }
}
.main {
  overflow: hidden;
  padding-top: 60px;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 30px;
  border-radius: 4px;
  box-sizing: border-box;
  &.primary {
    background-color: $primary;
    color: $white;
    &:hover {
      opacity: 1;
      background-color: #f01111;
    }
  }
  &.secondary {
    background-color: $mainDark;
    color: $white;
    padding: 16px;
    &:hover {
      opacity: 1;
      background-color: #2575de;
    }
  }
  &.light {
    background-color: $white;
    color: $mainDark;
    padding: 12px 22px;
    &:hover {
      opacity: 1;
      background-color: #2575de;
      color: $white;
    }
  }
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 170px;
  input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;
    font-family: $mainFont;
    transition: 0.3s ease;
    padding: 10px 10px 10px 35px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: $white;
    font-style: normal;
    color: #414141;
    &::placeholder {
      font-style: italic;
      color: #d0d0d0;
    }
    &:focus {
      & ~ span {
        opacity: 1;
      }
    }
  }
  span {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    opacity: 0.3;
    img {
      width: 100%;
    }
    svg {
      width: 100%;       <div class="basket__box-remove">
      <svg>
        <use xlink:href="#closeIcon"></use>
      </svg>
      Remove
    </div>
      height: 100%;
      transition: 0.3s ease;
      color: #d0d0d0;
    }
  }
}
.basket {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: 1000;
  background: rgba($color: #033576, $alpha: 0.95);
  box-shadow: 0px 3px 6px #00000029;
  &.active {
    display: block;
  }
  &__inner {
    padding: 0 0 228px 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    background: $white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    &-content {
      box-sizing: border-box;
      padding: 42px 40px 0 40px;
      overflow-y: auto;
      height: 100%;
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h5 {
        color: #393939;
        line-height: 28px;
      }
    }
    &-close {
      cursor: pointer;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
      &:hover {
        opacity: 0.8;
      }
      svg {
        pointer-events: none;
        color: #393939;
        width: 100%;
        height: 100%;
      }
    }
    &-desc {
      margin-bottom: 20px;
      p {
        color: #393939;
      }
    }
    h6 {
      &.sm {
        color: #393939;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
  &__total {
    width: 100%;
    max-width: 400px;
    padding: 25px 40px 20px 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;
      h6 {
        color: #393939;
        line-height: 23px;
        font-weight: 700;
      }
      h5 {
        color: #393939;
        line-height: 23px;
        font-weight: 700;
      }
    }
    .button {
      display: block;
      width: 100%;
      font-family: $mainFont;
      font-weight: 500;
      padding: 15px 0 !important;
      line-height: 1;
      &.primary {
        margin-bottom: 15px;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $mainDark;
    box-sizing: border-box;
    // box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &-radio {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        appearance: none;
        -webkit-appearance: none;
        z-index: 1;
        cursor: pointer;
        &:checked + label {
          &::before {
            opacity: 1;
          }
        }
      }
      label {
        display: block;
        width: 24px;
        height: 24px;
        background: #ffffff;
        border: 1px solid #2856a7;
        border-radius: 4px;
        box-sizing: border-box;
        &::before {
          opacity: 0;
          @include transition;
          position: absolute;
          top: 2px;
          left: 7.2px;
          content: "";
          width: 6px;
          height: 12px;
          border-right: 3px solid #2856a7;
          border-bottom: 3px solid #2856a7;
          transform: rotate(45deg);
        }
      }
    }
    &-left {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 70px);
      &-content {
        width: calc(100% - 34px);
        p {
          font-size: 12px;
          line-height: 14px;
          color: #393939;
          font-weight: 400;
          &:first-child {
            font-weight: 700;
            margin-bottom: 8px;
          }
        }
      }
    }
    &-right {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f7f7f7;
      border-radius: 4px;

      h6 {
        &.sm {
          margin-bottom: 0;
          font-weight: 700;
          color: $mainDark;
          line-height: 33px;
        }
      }
    }
  }
  &__number {
    border-radius: 50%;
    background-color: $primary;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    span {
      font-size: 8px;
      line-height: 100%;
      color: $white;
    }
  }
  &__box {
    border-radius: 4px;
    background: #f7f7f7;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      p {
        color: #393939;
        font-weight: 700;
      }
      h6 {
        color: $mainDark;
        line-height: 24px;
        font-weight: 900;
      }
    }
    &-desc {
      margin-bottom: 20px;
      p {
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        color: #393939;
      }
    }
    &-remove {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 14px;
      font-family: $mainFont;
      font-weight: 400;
      color: $mainDark;
      @include transition;
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
      }
      svg {
        pointer-events: none;
        width: 10px;
        height: 10px;
        color: $mainDark;
        margin-right: 8px;
      }
    }
  }
  &Btn {
    width: 32px;
    height: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;
    background-color: transparent;
    img {
      width: 25px;
    }
    position: relative;
    .basket__number {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      transform: translateY(-50%);
    }
  }
  &Link {
    margin: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    b {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: #393939;
    }
  }
}
@mixin basket-xsm-sm {
  .basket {
    top: 60px;
    height: calc(100% - 60px);
    &__inner {
      &-content {
        padding: 30px 36px 0 36px;
      }
    }
    &__total {
      padding: 25px 36px 20px 36px;
    }
  }
}
.lang {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  &__inner {
    display: flex;
    align-items: center;
  }
  &:hover {
    .dropMenu {
      opacity: 1;
      visibility: visible;
    }
  }
  .dropMenu {
    left: unset;
    right: 0;
    &__inner {
      &::before {
        left: unset;
        right: 30px;
      }
    }
    li {
      margin-bottom: 25px;
    }
    p {
      &::before {
        display: none;
      }
    }
  }
  &__icon {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    img {
      @include fullImage;
    }
  }
  &__flag {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    img {
      @include fullImage;
    }
  }
  p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #414141;
    position: relative;
    padding-right: 16px;
    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 7px;
      height: 7px;
      border-top: 1px solid #414141;
      border-right: 1px solid #414141;
      content: "";
      transform: translateY(-60%) rotate(135deg);
    }
  }
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &.uniq {
    select {
      padding: 10px 35px 10px 15px;
      color: $white;
      background-color: #1956a7;
      border-radius: 4px;
      border: 1px solid $white;
      -webkit-appearance: none;
      box-sizing: border-box;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 15px;
      width: 6px;
      height: 6px;
      border-top: 1px solid $white;
      border-right: 1px solid $white;
      content: "";
      transform: translateY(-60%) rotate(135deg);
    }
  }
  select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    font-family: $mainFont;
    font-weight: 400;
  }
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &.uniq {
    input {
      padding: 10px 15px;
      color: $white;
      background-color: #1956a7;
      border-radius: 4px;
      border: 1px solid $white;
      box-sizing: border-box;
    }
  }
  input {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-family: $mainFont;
    font-weight: 700;
    box-sizing: border-box;
  }
}
