.faq {
  padding: 55px 0;
  &__inner {
    &-title {
      margin-bottom: 28px;
      text-align: center;
    }
    &-content {
      max-width: 750px;
      margin: 0 auto;
    }
    h2 {
      color: $mainDark;
    }
  }
  &Item {
    border-radius: 4px;
    overflow: hidden;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    &__icon {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &.big {
      .faqItem {
        &__head {
          padding: 20px;
        }
        &__body {
          position: relative;
          padding: 0 20px;
          &.active {
            padding: 30px 20px 40px;
          }
          &::before {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            height: 1px;
            content: "";
            background-color: #414141;
            transform: translateX(-50%);
          }
          p {
            font-family: $mainFont;
          }
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    &__head {
      padding: 23px 56px 23px 30px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.active {
        span {
          &::before {
            transform: translate(-50%, -50%) rotate(-90deg);
            opacity: 0;
          }
        }
      }
      h6 {
        font-weight: 600;
        color: $gray;
      }
      & > span {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $mainDark;
        transform: translateY(-50%);
        z-index: 1;
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 3px;
          height: 14px;
          content: "";
          background-color: $white;
          border-radius: 1px;
          transform: translate(-50%, -50%);
          transition: 0.3s ease;
        }
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 14px;
          height: 3px;
          content: "";
          background-color: $white;
          border-radius: 1px;
          transform: translate(-50%, -50%);
        }
      }
      h5 {
        padding-left: 40px;
        position: relative;
        span {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px;
            height: 100%;
            content: "";
            background-color: $mainDark;
            border-radius: 1px;
            transform: translate(-50%, -50%);
            transition: 0.3s ease;
          }
          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 3px;
            content: "";
            background-color: $mainDark;
            border-radius: 1px;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &__body {
      max-height: 0;
      opacity: 0;
      transition: 0.3s ease;
      padding: 0 30px;
      &.active {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        padding: 15px 30px 40px;
      }
      & > p {
        color: $gray;
        font-family: $lato;
        font-size: 18px;
        line-height: 25px;
      }
      a {
        color: $mainDark;
      }
    }
  }
}
// 540px
@mixin faq-xsm-sm {
  .faq {
    padding: 40px 0;
    &Item {
      &.big {
        .faqItem {
          &__body {
            &.active {
              padding: 15px 20px 30px;
            }
          }
        }
      }
      &__head {
        padding: 20px 55px 20px 20px;
      }
      &__body {
        padding: 0 20px;
        &.active {
          padding: 5px 20px 30px;
        }
        & > p {
          font-size: 16px;
          line-height: 20px;
        }
      }
      &__icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
